# Statistika Deskriptif

In [3]:
import statistics
import numpy as np
import scipy.stats


#Berikut adalah data dari breast cancer dataset, area dan status mematikan atau tidaknya

area = [1001. , 1326. , 1203. ,  386.1, 1297. ,  477.1, 1040. ,  577.9, 519.8,  475.9,  797.8,  781. , 1123. ,  782.7,  578.3,  658.8, 684.5,  798.8, 1260. ,  566.3,  520. ,  273.9,  704.4, 1404. ,
        904.6,  912.7,  644.8, 1094. ,  732.4,  955.1, 1088. ,  440.6, 899.3, 1162. ,  807.2,  869.5,  633. ,  523.8,  698.8,  559.2, 563. ,  371.1, 1104. ,  545.2,  531.5, 1076. ,  201.9,  534.6,
        449.3,  561. ,  427.9,  571.8,  437.6, 1033. ,  712.8,  409. , 1152. ,  656.9,  527.2,  224.5,  311.9,  221.8,  645.7,  260.9, 499. ,  668.3,  269.4,  394.1,  250.5,  502.5, 1130. ,  244. ,
        929.4,  584.1,  470.9,  817.7,  559.2, 1006. , 1245. ,  506.3, 401.5,  520. , 1878. , 1132. ,  443.3, 1075. ,  648.2, 1076. , 466.1,  651.9,  662.7,  728.2,  551.7,  555.1,  705.6, 1264. ,
        451.1,  294.5,  412.6,  642.5,  582.7,  143.5,  458.7,  298.3, 336.1,  530.2,  412.5,  466.7, 1509. ,  396.5,  290.2,  480.4, 629.9,  334.2,  230.9,  438.6,  245.2,  682.5,  782.6,  982. ,
        403.3, 1077. , 1761. ,  640.7,  553.5,  588.7,  572.6, 1138. , 674.5, 1192. ,  455.8,  748.9,  809.8,  761.7, 1075. ,  506.3, 423.6,  399.8,  678.1,  384.8,  288.5,  813. ,  398. ,  512.2,
        355.3,  432.8,  432. ,  689.5,  640.1,  585. ,  519.4,  203.9, 300.2,  381.9,  538.9,  460.3,  963.7,  880.2,  448.6,  366.8, 419.8, 1157. , 1214. ,  464.5, 1686. ,  690.2,  357.6,  886.3,
        984.6,  685.9,  464.1,  565.4,  736.9,  372.7,  349.6,  227.2, 302.4,  832.9,  526.4,  508.8, 2250. , 1311. ,  766.6,  402. , 710.6,  317.5, 1041. ,  420.3,  428.9,  463.7,  609.9,  507.4,
        288.1,  477.4,  671.4,  516.4,  588.9, 1024. , 1148. ,  642.7, 461. ,  951.6, 1685. ,  597.8,  481.9,  716.6,  295.4,  904.3, 529.4,  725.5, 1290. ,  428. , 2499. ,  948. ,  610.7,  578.9,
        432.2,  321.2, 1230. , 1223. ,  568.9,  561.3,  313.1,  761.3, 546.4,  641.2,  329.6,  684.5,  496.4,  503.2,  895. ,  395.7, 386.8, 1319. ,  279.6,  603.4, 1670. , 1306. ,  623.9,  920.6,
        575.3,  476.5,  389.4,  590. , 1155. ,  337.7,  541.6,  512.2, 347. ,  406.3, 1364. ,  407.4, 1206. ,  928.2, 1169. ,  602.4, 1207. ,  713.3,  773.5,  744.9, 1288. ,  933.1,  947.8,  758.6,
        928.3, 1419. ,  346.4,  561. ,  512.2,  344.9,  632.6,  388. , 1491. ,  289.9,  998.9,  435.6,  396.6, 1102. ,  572.3,  587.4, 1138. ,  427.3, 1145. ,  805.1,  516.6,  489. ,  441. ,  515.9,
        394.1,  396. ,  651. ,  687.3,  513.7,  432.7,  492.1,  582.7, 363.7,  431.1,  633.1,  334.2, 1217. ,  471.3, 1247. ,  334.3, 403.1,  417.2,  537.3,  246.3,  566.2,  530.6,  418.7,  664.9,
        504.1,  409.1,  221.2,  481.6,  461.4, 1027. ,  244.5,  477.3, 324.2, 1274. ,  504.8, 1264. ,  457.9,  489.9,  616.5,  446. , 813.7,  826.8,  793.2,  514. ,  387.3,  390. ,  464.4,  918.6,
        514.3, 1092. ,  310.8, 1747. ,  641.2,  280.5,  373.9, 1194. , 420.3,  321.6,  445.3,  668.7,  402.7,  426.7,  421. ,  758.6, 2010. ,  716.6,  384.6,  485.8,  512. ,  593.7,  241. ,  278.6,
        491.9,  546.1,  496.6,  838.1,  552.4, 1293. , 1234. ,  458.4, 1546. , 1482. ,  840.4,  711.8, 1386. , 1335. ,  579.1,  788.5, 338.3,  562.1,  580.6,  361.6,  386.3,  372.7,  447.8,  462.9,
        541.8,  664.7,  462. ,  596.6,  392. , 1174. ,  321.6,  234.3, 744.7, 1407. ,  446.2,  609.1,  558.1,  508.3,  378.2,  431.9, 994. ,  442.7,  525.2,  507.6,  469.1,  370. ,  800. ,  514.5,
        991.7,  466.1,  399.8,  373.2,  268.8,  693.7,  719.5,  433.8, 271.2,  803.1,  495. ,  380.3,  409.7,  656.1,  408.2,  575.3, 289.7,  307.3,  333.6,  359.9,  381.1,  501.3,  685. ,  467.8,
       1250. , 1110. ,  673.7,  599.5,  509.2,  611.2,  592.6,  606.5, 371.5,  928.8,  585.9,  340.9,  990. ,  441.3,  981.6,  674.8, 659.7, 1384. ,  432. , 1191. ,  442.5,  644.2,  492.9,  557.2,
        415.1,  537.9,  520.2,  290.9,  930.9, 2501. ,  646.1,  412.7, 537.3,  542.9,  536.9,  286.3,  980.5,  408.8,  289.1,  449.9, 686.9,  465.4,  358.9,  506.9,  618.4,  599.4,  404.9,  815.8,
        455.3,  602.9,  546.3,  571.1,  747.2,  476.7,  666. , 1167. , 420.5,  857.6,  466.5,  992.1, 1007. ,  477.3,  538.7,  680.9, 485.6,  480.1, 1068. , 1320. ,  689.4,  595.9,  476.3, 1682. ,
        248.7,  272.5,  453.1,  366.5,  819.8,  731.3,  426. ,  680.7, 556.7,  658.8,  701.9,  391.2, 1052. , 1214. ,  493.1,  493.8, 257.8, 1841. ,  388.1,  571. ,  293.2,  221.3,  551.1,  468.5,
        594.2,  445.2,  422.9,  416.2,  575.5, 1299. ,  365.6, 1308. , 629.8,  406.4,  178.8,  170.4,  402.9,  656.4,  668.6,  538.4, 584.8,  573.2,  324.9,  320.8,  285.7,  361.6,  360.5,  378.4,
        507.9,  264. ,  514.3,  321.4,  311.7,  271.3,  657.1,  403.5, 600.4,  386. ,  716.9, 1347. , 1479. , 1261. ,  858.1, 1265. , 181. ]

malignant = [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 1., 1.,
       1., 1., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0., 1., 0., 0., 1., 1.,
       1., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 1., 1., 1., 0., 0., 1.,
       0., 0., 0., 1., 1., 1., 0., 1., 1., 0., 0., 1., 1., 1., 0., 0., 1.,
       1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0.,
       0., 1., 0., 0., 1., 1., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0.,
       1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 0., 1., 1., 1., 1., 0., 0., 1., 0., 1., 1., 0., 0., 1.,
       1., 0., 0., 1., 1., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1., 0.,
       1., 1., 1., 0., 1., 1., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       1., 0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 1., 1., 0., 0., 1.,
       1., 1., 0., 1., 1., 1., 1., 1., 0., 0., 1., 1., 0., 1., 1., 0., 0.,
       1., 0., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1.,
       0., 1., 0., 1., 1., 0., 1., 1., 0., 1., 0., 0., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1.,
       0., 1., 1., 1., 1., 0., 0., 0., 1., 1., 1., 1., 0., 1., 0., 1., 0.,
       1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 0., 0., 0., 1., 0., 0.,
       1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1.,
       1., 0., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1.,
       0., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 0., 1., 0., 0., 1., 0., 1., 1., 1., 1., 1., 0.,
       1., 1., 0., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1.,
       1., 0., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 0.,
       1., 1., 1., 1., 1., 0., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1., 0.,
       1., 1., 0., 1., 0., 1., 0., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 0., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 0., 0., 0., 0., 0., 0., 1.]
global area
global malignant

# Soal 1. Menghitung central tendency



*   Hitung nilai mean dari area menggunakan cara python
*   Hitung nilai median menggunakan library numpy
*   Hitung nilai modus menggunakan scipy

In [13]:
# Cara python
total_area = sum(area)
mean_area = total_area/len(area)

print(f"Mean area : {mean_area}")

# menggunakan libray numpy

median_area = np.median(area)
print("Median area:", median_area)

# menggunakan scipy
import  scipy.stats as stats
modus_area = stats.mode(area)

print("Modus area:", modus_area)

Mean area : 654.8891036906855
Median area: 551.1
Modus area: ModeResult(mode=512.2, count=3)

Expected output:


```
654.8891036906857 
551.1
ModeResult(mode=array([512.2]), count=array([3]))
```

---

# Soal 2. Menghitung sebaran data



*   Hitung nilai variance dari area menggunakan numpy dengan ddof = 1
*   Hitung nilai standar deviasi dari area menggunakan numpy dengan ddof = 1

In [15]:
# variance dari area menggunakan numpy dengan ddof = 1
variance_area = np.var(area, ddof=1)
print("Varian area:", variance_area)

# Menghitung standar deviasi
standar_deviasi_area = np.sqrt(variance_area)

print("Standar deviasi area:", standar_deviasi_area)

Varian area: 123843.55431768115
Standar deviasi area: 351.914129181653

Expected output:


```
123843.55431768115
351.914129181653
```



---



---

# Soal 3. Menghitung Range

Hitung nilai range dari area menggunakan numpy

In [44]:
# nilai Range
range_area = np.ptp(area)
print("Range :", range_area)

Range : 2357.5

Expected output:


```
2357.5
```



---



---

# Soal 4. Menghitung Quartile

Hitung Quartile 1 dan 3 dari area menggunakan numpy

In [17]:
# Quartile 1 dan 3

q1_area = np.percentile(area, 25)
q3_area = np.percentile(area, 75)

print("Q1:", q1_area)
print("Q3:", q3_area)

Q1: 420.3
Q3: 782.7

Expected output:

```
Q1 = 420.3

Q3 = 782.7
```



---



---

# Soal 5. Menghitung Covariance

Hitung nilai covariance dari 'area' dan 'malignant' menggunakan numpy

In [20]:
# Hiatung nilai covariance dari area dan malignant

covariance_area_malignant = np.cov(area, malignant)

print(covariance_area_malignant)

[[ 1.23843554e+05 -1.20738222e+02]
 [-1.20738222e+02  2.34176589e-01]]

Expexted output:

```
[[ 1.23843554e+05 -1.20738222e+02]
 [-1.20738222e+02  2.34176589e-01]]
```



---



---

# Statistika Inferential

# Soal 6. Menghintung bentuk sebaran data

*   Hitung nilai skewness dari 'area' menggunakan scipy
*   Berikan analisa bentuk sebaran data dari area

In [22]:
# Htung nilai skewness dari area
skewness_area = stats.skew(area)

print("Skewness area:", skewness_area)

Skewness area: 1.6413905092044112

Expected output:


```
1.6457321756240424
```

Analisis bentuk sebaran data:


Distribusi area memiliki skewness positif sebesar 1.6413905092044112, menunjukkan kecenderungan positively skewed (condong ke kanan), dengan lebih banyak nilai yang besar daripada yang kecil.

Silahkan untuk latihan Teman" bisa mengolah dataset  yang saya berikan dan melakukan perhitungan sama dengan menggunakan metode diatas

In [32]:
import pandas as pd

dataset = pd.read_excel("Nilai_Indeks_Toleransi.xlsx", index_col='Dusun')
dataset.describe()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10
count,32.00000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,3.53125,3.375000,3.375000,3.218750,3.312500,3.656250,4.187500,4.375000,4.218750,3.937500
std,0.87931,0.659912,0.707107,0.552669,0.997982,0.970845,0.737804,0.751343,0.706394,0.669015
min,2.00000,2.000000,2.000000,2.000000,1.000000,1.000000,3.000000,3.000000,3.000000,2.000000
25%,3.00000,3.000000,3.000000,3.000000,3.000000,3.750000,4.000000,4.000000,4.000000,4.000000
50%,4.00000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,5.000000,4.000000,4.000000
75%,4.00000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,5.000000,4.000000
max,5.00000,5.000000,5.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [50]:
for kolom in dataset.columns:
    print(f"Kolom: {kolom}")
    print(f"Mean: {dataset[kolom].mean()}")
    print(f"Median: {dataset[kolom].median()}")
    print()

Kolom: Q1
Mean: 3.53125
Median: 4.0

Kolom: Q2
Mean: 3.375
Median: 3.0

Kolom: Q3
Mean: 3.375
Median: 3.0

Kolom: Q4
Mean: 3.21875
Median: 3.0

Kolom: Q5
Mean: 3.3125
Median: 3.0

Kolom: Q6
Mean: 3.65625
Median: 4.0

Kolom: Q7
Mean: 4.1875
Median: 4.0

Kolom: Q8
Mean: 4.375
Median: 5.0

Kolom: Q9
Mean: 4.21875
Median: 4.0

Kolom: Q10
Mean: 3.9375
Median: 4.0

In [40]:
# Hitung range, quartil 1 dan 3, dan standar deviasi
for kolom in dataset.columns:
    print(f"Kolom: {kolom}")
    print(f"Range: {np.ptp(dataset[kolom])}")
    print(f"Q1: {np.percentile(dataset[kolom], 25)}")
    print(f"Q3: {np.percentile(dataset[kolom], 75)}")
    print(f"Standar Deviasi: {np.std(dataset[kolom])}")
    print()

Kolom: Q1
Range: 3
Q1: 3.0
Q3: 4.0
Standar Deviasi: 0.8654614015078893

Kolom: Q2
Range: 3
Q1: 3.0
Q3: 4.0
Standar Deviasi: 0.649519052838329

Kolom: Q3
Range: 3
Q1: 3.0
Q3: 4.0
Standar Deviasi: 0.6959705453537527

Kolom: Q4
Range: 2
Q1: 3.0
Q3: 4.0
Standar Deviasi: 0.5439654745477879

Kolom: Q5
Range: 4
Q1: 3.0
Q3: 4.0
Standar Deviasi: 0.982264602843857

Kolom: Q6
Range: 4
Q1: 3.75
Q3: 4.0
Standar Deviasi: 0.955555303213791

Kolom: Q7
Range: 2
Q1: 4.0
Q3: 5.0
Standar Deviasi: 0.7261843774138906

Kolom: Q8
Range: 2
Q1: 4.0
Q3: 5.0
Standar Deviasi: 0.739509972887452

Kolom: Q9
Range: 2
Q1: 4.0
Q3: 5.0
Standar Deviasi: 0.6952686081652184

Kolom: Q10
Range: 3
Q1: 4.0
Q3: 4.0
Standar Deviasi: 0.6584783595532961

In [37]:
# Hitung skewness dan analisis bentuk sebaran
for kolom in dataset.columns:
    print(f"Kolom: {kolom}")
    skewness = stats.skew(dataset[kolom])
    print(f"Skewness: {skewness}")
    if skewness > 0:
        print("Sebaran data miring ke kanan.")
    elif skewness < 0:
        print("Sebaran data miring ke kiri.")
    else:
        print("Sebaran data simetris.")
    print()

Kolom: Q1
Skewness: -0.09631913715796918
Sebaran data miring ke kiri.

Kolom: Q2
Skewness: 0.8125670455261399
Sebaran data miring ke kanan.

Kolom: Q3
Skewness: 0.45191011477704657
Sebaran data miring ke kanan.

Kolom: Q4
Skewness: 0.0875947409917818
Sebaran data miring ke kanan.

Kolom: Q5
Skewness: -0.26121163953742454
Sebaran data miring ke kiri.

Kolom: Q6
Skewness: -1.4171981730329426
Sebaran data miring ke kiri.

Kolom: Q7
Skewness: -0.3021883302226034
Sebaran data miring ke kiri.

Kolom: Q8
Skewness: -0.7244179326244428
Sebaran data miring ke kiri.

Kolom: Q9
Skewness: -0.3241607419520235
Sebaran data miring ke kiri.

Kolom: Q10
Skewness: -0.5900171324947966
Sebaran data miring ke kiri.

In [48]:
kovariasi_q1_q2 = np.cov(dataset["Q1"], dataset["Q2"])[0, 1]
print(f"Kovariansi Q1 dan Q2: {kovariasi_q1_q2}")

Kovariansi Q1 dan Q2: 0.11693548387096774